<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Certificado</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        function validarFormulario(event) {
            const documento = document.getElementById("documento").value;
            if (!/^\d+$/.test(documento)) {
                alert("El número de cédula debe contener solo números.");
                event.preventDefault();
            }
        }
    </script>
</head>
<body>
    <h1>Generar tu Certificado</h1>
    <form action="/generar" method="post" onsubmit="validarFormulario(event)">
        <label for="documento">Número de Cédula:</label>
        <input type="text" id="documento" name="documento" placeholder="Ingresa tu número de cédula" required>
        <br>
        <!-- Botón para generar certificado -->
        <button type="submit" id="registrar">Generar Certificado</button>
        <br>
        <!-- Enlace para ver todos los registros -->
        <a href="{{ url_for('ver_registros') }}" class="ver-registros" id="ver-registros">Ver Todos los Registros</a>
        <a href="login" class="ver-registros" id="iniciar">Registrar</a>
        <a href="carga_masiva" class="ver-registros" id="masiva">Carga Masiva de Registros</a>

    </form>


</body>
</html>
