<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registrostyle.css') }}">

</head>
<body>
    <h1>Registrar Usuario</h1>
    {% if mensaje %}
        <p style="color: green;">{{ mensaje }}</p>
    {% endif %}
    <form action="/registrar" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingresa el nombre completo" required>
        <br>
        <label for="documento">Número de Cédula:</label>
        <input type="text" id="documento" name="documento" placeholder="Ingresa el número de cédula" required>
        <br>
        <label for="curso">Curso Aprobado:</label>
        <select name="curso" id="curso" required>
         <option value="" disabled selected>Seleccione un curso de la lista</option>
            {% for curso in cursos %}
        <option value="{{ curso }}">{{ curso }}</option>
            {% endfor %}
        </select>
        <label for="fecha">Fecha de Culminación:</label>
        <input type="text" id="fecha" name="fecha" placeholder="Ingresa la fecha de culminacion del curso" required>

        <br>
        <button type="submit">Registrar</button>
        
    </form>

    <a href="/">Volver a la página principal</a>
    <a href="{{ url_for('ver_registros') }}" class="btn btn-primary">Ver Todos los Registros</a>
    

</body>
</html>
