<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Registros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-4">Lista de Registros</h2>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Curso</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro['id'] }}</td>
                    <td>{{ registro['nombre'] }}</td>
                    <td>{{ registro['documento'] }}</td>
                    <td>{{ registro['curso'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Volver a la página principal</a>
    </div>
</body>
</html>
